RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
RewriteRule ^index\.html$/ [R=301,L]
RewriteRule ^(.*)/index\.html$/$1/ [R=301,L]

ErrorDocument 404 https://salienttest.github.io/SalientTest/
Redirect 301 /back-end-portfolio/ https://www.salienttest.github.io/SalientTest/Portfolio/

